/* reset bootstrap */
#ms_reset_first:hover,#ms_reset_first:focus{
    background-color: red;
    color:white;
}

#ms_reset_first:hover{
    outline: 4px solid red;
   outline-style: inset;
}

#ms_reset_second:hover,#ms_reset_second:focus{
    color:white;
}
#ms_reset_second:hover{
    outline:2px solid black;
    outline-offset: 2px;
}
/* var*/
:root{
    --ms-bg-plus-section:#bebcbb;
}


img{
    max-width:100%;
}

/* header-top */
.ms_logo_img{
    height:25px;
}
.ms_pb{
    padding-top:4.5rem;
}

.ms_mb{
    margin-bottom:2rem;
}

.ms_mb_lg{
    margin:2.5rem 0;
}

.ms_pb-large{
    padding-bottom:3rem;
}

.btn-first{
    background-color: red;
}

.ms_btn-radius{
    border-radius:30px;
}
.ms_btn_plus{
    color:#346ae6;
    background-color: #d9dadc;
    border:none;
    font-weight:600;
}
.ms_text_blue{
    color:#2083d3;
}
.ms_border-bottom{
    border-bottom: 2px solid #2083d3;
}

.ms_border-card{
    border:none
}

.ms_opacity_50{
    opacity:0.5;
}
ul{
    list-style-type: none;
}
/* navbar */


.ms_main_header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:999;
}

.nav-try{
    position:relative;
}
.nav-link::after{
    content:url(../img/chevron-down-solid.svg);
    display:inline-block;
    width:15px;
    position:absolute;
    top:60%;
    left:100%;
    transform: translateY(-50%);
}

.nav-try:hover .nav-link::after{
    transform:rotateX(180deg);
    top:20%;  
}



.ms_ul{
    list-style: none;
    margin-bottom:0;
    padding:0;
}
.ms_search{
    height:30px;
}
.ms_btn-link{
    padding:0.2rem 0.3rem;
    border-radius:30px;
    background-color: black;
    color:white;
    
}

.form-link{
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    padding-top:3px;
}
/* navbar end */

main.ms_content{
   padding-top:120px; 
}








/* start main */
/* inizio jumbotron */
.jumbotron {
    min-height:400px;
    background-image: url(../img/jumbo-bg.png);    
    background-size: cover;
    background-position: top center;
    color:white;
}
.returnal-logo{
    width:220px;
}

/* griglia immagini */


.ms_active:hover{
   
    border-bottom: 2px solid #2083d3;
}
.ms_active:hover .ms_opacity_50{
    opacity:1.0 
}

.griglia-img{
     /*border-bottom:1px solid black; debug */
    margin-bottom:3rem;
    }

.card{
    overflow: hidden;
    border-radius:20px;
}
.card-active{
    outline:2px solid #6bade2;
    outline-offset: 2px;
}

h3.ms-head{
    font-size:1rem;
}
h2.ms_sub-title{
    font-size: calc(1.7rem + .9vw);
}
p.ms_text{
    font-size:1.2rem;
    color:#787878;
}

/* sezione box it takes */

.section-play{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position:  center;
    color:white;
}

.box_it_takes{
    padding:2rem 0;
 
   
}
.box_it_takes .box-text{
    padding-right:1rem;
}




/* sezione playstation */
.play-subtitle{
    margin-bottom:0;
}

.playstation-plus {
    background-color: var(--ms-bg-plus-section);
}


/* new-entry */



/* sezione playstation now */
.playstation-now{
    color:white;
    background-color:  #161c3b;
}
#ms_color_btn{
    background-color: white;
    color:black;
}
#ms_color_btn:hover{
    background-color: white;
    color:black;
}
/* footer-top */
footer{
    background-color:#00439c;
    color:white;
}
.globe-img{
    height:25px;
}
.footer-top a, .footer-bottom a,.jumbotron a, .section-play a  {
    color:inherit;
   
}
.footer-top a {
    text-decoration: none;
}

.footer-bottom-logo{
    height:90px;
    width:90px;
    object-fit: cover;
    object-position: left;
}

.footer-bottom-heading ul{
    padding:0;
    margin:0;
}

.footer-bottom-heading a{
    text-decoration: none;
}
.footer-bottom-heading li, .footer-bottom-heading a {
    line-height: normal;
    font-size:0.8rem;
}

.info-more a {
    color:inherit;
}





/* sezione hover */


.griglia-img .card:hover{
    margin-top:-10px;
}









/* sezione media query */



@media screen and (min-width:768px){
    .wrapper{
        width:80%;
        margin:0 auto;
    }
}

@media screen and (min-width:992px){
    .wrapper{
        width:65%;
    }
}